<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.pms.mapper.CategoryMapper">


    <resultMap id="categoryMap" type="com.atguigu.gmall.pms.entity.CategoryEntity" autoMapping="true">
                <id property="id" column="id"></id>
                <collection property="subs" javaType="list"
                            ofType="com.atguigu.gmall.pms.entity.CategoryEntity"
                            select="getlv2WithSubsCategories"
                            column="id">
                </collection>
    </resultMap>
    <select id="getlv2WithSubsCategories" resultType="com.atguigu.gmall.pms.entity.CategoryEntity" resultMap="categoryMap">
        select * from pms_category where parent_id=#{pid}
    </select>
</mapper>
